@font-face{
    font-family: 'peydaRegular';
    src: url('../../public/Peyda/Peyda-Regular.ttf') format('ttf'),
    url('../../public/Peyda/PeydaWeb/woff/PeydaWeb-Regular.woff') format('woff'),
    url('../../public/Peyda/PeydaWeb/woff2/PeydaWeb-Regular.woff2') format('woff2');
   }

   @import  "../../node_modules/tabulator-tables/dist/css/tabulator.min.css";




$colorBlue :#2d41fd;
$colorPink :#c63ef1;
$colorTosi :#eae4e4;
$colorError :#c45151;
$colorBlueTxt : #384ab4;
$colorGreen : #5aae40;
$colorRed : #ae4040;


$colorBDark:#20409d;
$colorBSemi:#1980c3;
$colorBLite:#2094d2;
$colorBUltra:#22c0eb;
$colorDisable:#636363;



.tabulator{
    .tabulator-menu-item{
        text-align: right !important;
    }
    .tabulator-data-tree-control{
        background: mix($colorBDark,#fff,30) !important;
    }

    .tabulator-data-tree-branch{
        border-color: mix($colorBDark,#fff,40) !important;
    }
    .tabulator-selected{
        background: $colorBUltra !important;
        color: $colorTosi;
    }
    .tabulator-header{
        color: $colorBDark;
        .tabulator-headers{
            height: 57px !important;
        }
        .tabulator-col {
            background: mix($colorBDark, #fff,20);
        }
        input{
            border-radius: 9px;
            height: 27px;
            margin: 0px;
            width: 80%;
            border: 1px mix($colorBDark, #fff,50) solid;
        }
    }
    .tabulator-footer{
        color: $colorBDark;
        background: mix($colorBDark, #fff,20);

    }
    .tabulator-row{
        background: mix($colorBDark, #fff,10);
    }
    .tabulator-row-even{
        background:mix($colorBUltra, #fff,0);
    }
    .StocksTableChartContiner{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        .StocksTableChartPos{
            background-color: $colorGreen;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            height: 15px;
        }
        .StocksTableChartNeg{
            background-color: $colorError;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            height: 15px;
        }
        .StocksTableChartBlue{
            background-color: $colorBSemi;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            height: 15px;
        }
    }
} 


@mixin gradiant() {
    background-image: linear-gradient(to top right,$colorBDark,$colorBUltra);
}


@mixin btn() {
    background-image: linear-gradient(to top right,$colorBDark,$colorBSemi);
    width: 100px;
    height: 25px;
    border: 0px;
    border-radius: 8px;
    color: $colorTosi;
    font-size: 14pt;
    cursor: pointer;
}

@mixin inp(){
    border: 0px;
    width: 200px;
    background: #fff;
    height: 30px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    &::-webkit-inner-spin-button{
        display: none;
    }

}
html , body, #root, .desk{
    height: 100%;
    
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'peydaRegular';

}


.homePage{
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    justify-content: space-around;
    align-items: center;

    .login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 350px;
        background: rgba($colorBSemi, 0.3);

        padding: 80px 0px 30px 0px;
        border-radius: 20px;
        border: 1px $colorBDark solid;


        
        .captcha{
            width: 200px;
            display: flex;
            flex-direction: row;
            align-items: center;
            img{
                width: 200px;
                cursor: pointer;
                border-radius: 15px;
            }
        }
        input{
            @include inp();
        }
        .ent{
            @include gradiant();
            border: 0px;
            height: 30px;
            width: 80px;
            border-radius: 10px;
            color: $colorTosi;
            margin: 10px;
            cursor: pointer;
        }
        .btnEdt{
            background: transparent;
            border: 0px;
            border-radius: 10px;
            color: $colorBlue;
            margin: 10px;
            cursor: pointer;
        }
        .errMsg{
            background: #fff;
            color: $colorError;
            border: 2px $colorError solid;
            border-right-width: 5px;
            padding: 3px 8px;
            width: 200px;
            text-align: right;
            border-radius: 3px;
            cursor: pointer;
        }
    }
    .brd{
        z-index: 0;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;
        right: min(250px,20%);
        .logo{
            position: relative;
            width: 200px;
            height: 200px;
            margin: 20px;
            img{
                position: absolute;
            }
            .prt{
                opacity: 0;
            }
            .prt1{
                animation: pt1 3s 0s alternate infinite forwards;
            }
            .prt2{
                animation: pt1 3s 0.5s alternate infinite forwards;
            }
            .prt3{
                animation: pt1 3s 1s alternate infinite forwards;
            }
            .prt4{
                animation: pt1 3s 1.5s alternate infinite forwards;
            }
            @keyframes pt1 {
                20%{opacity: 0;}
                35%{opacity: 100;}
                70%{opacity: 100;}
                85%{opacity: 0;}
                
            }
        }
        h1{
            font-family: 'peydaRegular';
            width: 270px;
            text-align: center;
            font-size: 13pt;
            color: #fff;
            background: $colorBlue;
            padding: 6px;
            border-radius: 8px;
            margin: 10px;
        }
        a{
            font-family: 'peydaRegular';
            font-size: 13pt;
            text-decoration: none;
            color: $colorBlue;
        }

    }
    
}

.register{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: rgba($colorBSemi, 0.3);
    .QuestionBox{
        h2{
           color: $colorDisable;
           text-align: right; 
           margin: 10px 0px;
        }
        .AnswerBox{
            margin: 10px 0px;
            display: flex;
            flex-direction: column;
            button{
                margin: 5px;
                font-size: 13pt;
                border-radius: 5px;
                border: 1px $colorBDark solid;
            }
            .selcted{
                background: $colorBUltra;
            }

        }
        .nextbutton{
            display: flex;
            flex-direction: column;
            align-items: center;
            button{
                width: 100px;
                margin: 3px;
            }
        }

    }
}

input{
    display: flex;
    margin: 25px 80px;
}

header{
    padding: 5px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: $colorBDark;
    .btn_header{

            span{
                color: $colorTosi;
                font-size: 15pt;           
                margin: 0px 15px;
                cursor: pointer;
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                p{
                    margin-right: 5px;
                }
            }
            display: flex;
            
            flex-direction: row;
            align-items: center;
            


        }
        .symbol_header{
            display: flex;
            flex-direction: row;
            margin-right: 50px;
            align-items: center;
            
            img{
                width: 50px;
                padding: 5px;
                background-color: $colorTosi;
                border-radius: 50%;
            }
            p{
                color: $colorTosi;
                font-size: 17pt;
                margin-right: 30px;
            }
        }

    
}

.menu{
    display: flex;
    flex-direction: column;
    width: 160px;
    padding: 20px 10px 20px 0px;
    background-color: $colorBSemi;
    
    .items{
        cursor: pointer;
        padding: 5px 20px 5px  0px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;

        color: $colorTosi;
        font-size: 15pt;
        margin-bottom: 10px;
        span{
            margin-left: 5px;
        }
        &:hover{
            background: linear-gradient(90deg, #fff, mix($colorTosi, $colorBUltra, 70));
            border-radius: 20px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            color: $colorDisable;
        }

    }

    
}

.company{
    height: 100%;
    background:linear-gradient(225deg,$colorBUltra,$colorBDark);
    overflow-y: scroll;
    &::-webkit-scrollbar{
        width: 5px;
    }
    &::-webkit-scrollbar-track{
        background: mix($colorBUltra, #fff, 100);
    }
    &::-webkit-scrollbar-thumb{
        
        background: mix($colorBUltra, #fff, 50);
        border-radius: 2px;

    }
    >p{
        font-size: 20pt;
        color: $colorTosi;
        padding: 10px;
        width: 100px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        span{
            font-size: 15pt;
            margin-left: 5px;

        }
       
    }
    .listcompany{
        background-color: $colorTosi;
        margin: 0px 20px;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .eachcompany{
            h2{
                font-size: 12pt;
                text-align: center;
                color: $colorBSemi;
                margin-top: 10px;
            }
            overflow: hidden;
            &:hover{
                .title{
                .names{
                    :nth-child(2){
                        opacity: 1;
                    }
                }
                img{
                    transform: rotate(-35deg) scale(1.5);
                    opacity: 0.4;
                }
            }

            }
        
        display: flex;
        background-color: rgba($color: #fff, $alpha: 0.5);
        border: 1px white solid;
        padding: 10px;
        border-radius: 15px;
        flex-direction: column;
        margin: 20px;
        width: 250px;
        height: 100px;
        cursor: pointer;
        .title{

            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            align-items: center;
            .names{
                >p{
                    color: $colorBDark;
                }
                :nth-child(1){
                    font-size: 15pt;
                    text-align: right;

                }
                :nth-child(2){
                    text-align: right;
                    opacity: 0;
                    transition: 0.5s;
                }
            }

            img{
                width: 70px;
                height: 70px;
                transition: 0.5s;

            }
        }
    }

    .ziro{

        .title{
            .names{
                p{
                color: $colorDisable;
            }
        }
        img{
            filter: grayscale(1);
        }
    }
    h2{
            color: $colorDisable;
            
        }
        

    }
}

}



.container{
    display: flex;
    flex-direction: row;
    direction: rtl;
    height: calc(100% - 80px);
}

.sub{
    display: flex;
    flex-direction: column;
    .sheet-content{
        padding: 20px;
    }
    
    h2{
        margin-bottom: 10px;
        color: $colorDisable;
        text-align: center;
        font-size: 25pt;
    }
    p{
        font-size: 18pt;
        color: $colorDisable;
    }
}

.sub_table{
    width: calc(100% - 160px);
    
    }

    .tools{
        display: flex;
        flex-direction: row;
        background:rgba($colorBSemi, 0.2);
        h1{
            font-size: 15pt;
            margin-right: 10px;
            color: $colorBlueTxt;
            
        }
    }



